DISCORD_TOKEN="XXXXXXX"
DISCORD_CLIENT_ID="XXXXXXX"
DISCORD_PUBLIC_KEY="XXXXXXX"
GITHUB_APP_ID="XXXXXXX"
GITHUB_CLIENT_ID="XXXXXXX"
GITHUB_CLIENT_SECRET="XXXXXXX"
GITHUB_WEBHOOK_SECRET="XXXXXXX"
# GUILD_ID="XXXXXXX"
